* {
  box-sizing: border-box;
  align-content: center;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("./watercolor6.jpg");
  background-color: #b8bbbb;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px;
  margin-bottom: 60px;
  justify-content: center;
  max-width: 80%;
  padding-left: 20%;
}

/* format for cards */
.card {
  text-align: center;
  padding: 5px;
  align-content: center;
}

/* mostly foot nav */
span {
  position: fixed;
  left: 100px;
  top: 50px;
  cursor: grab;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


/* animation to shake foot navigation */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* color changing hover */
span:hover {
  color: #fdd1ad;
  text-shadow: 4px 4px 4px #f5aa6d;
  transition: 1s;
}
/* color changing hover for links*/
a:hover {
  color: #fdd1ad;
  text-shadow: 1px 1px 1px rgb(90, 4, 90);
  transition: 1s;
}
/* side navigation settings */
.sidenav {
  border-radius: 8px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(178, 243, 248);
  overflow-x: hidden;
  padding-top: 50px;
  transition: 1s;
}

/* sidenavigation for links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #0a0707;
  display: block;
  transition: 1s;
}
/* sidenav links on mouseoover/hover */
.sidenav a:hover {
  color: #fdd1ad;
  text-shadow: 1px 1px 1px rgb(90, 4, 90);
}
/* button to close sidenav */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 1px;
  align-content: center;
}

h1 {
  font-style: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-size-adjust: auto;
  text-decoration-line: underline;
  font-size: 75px;
  animation: link-color-change 5s infinite;
  text-shadow: 1px 1px 1px 1px rgb(90, 4, 90);
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-decoration-line: underline;
  text-size-adjust: auto;
  font-size: 45px;
  animation: link-color-change 5s infinite;
  text-shadow: 1px 1px rgb(90, 4, 90);
}
/* most font */
p {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* seperator for name */
hr.solid {
  border-style: dashed;
  border-width: 1px;
  border-color: rgb(209, 207, 207);
}
/* animation for h tag color change */

@keyframes link-color-change {
  0% {
    color: black;
  }
  15% {
    color: black;
  }
  25% {
    color: rgb(90, 4, 90);
  }
  40% {
    color: rgb(90, 4, 90);
  }
  50% {
    color: rgb(90, 4, 90);
  }
  75% {
    color: rgb(90, 4, 90);
  }
  100% {
    color: black;
  }
}

.img-box {
  width: 1px;
  border: 4px solid #333;
}

img {
  border-radius: 25px;
  border: 2px solid #e4fbfc;
  padding: 5px;
}
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: row;
  }
}
