body {
  background-image: url("./watercolor6.jpg");
  background-color: #e4fbfc;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

span {
  position: absolute;
  left: 30px;
  top: 0;
  max-width: 75px;
  cursor: grab;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}



@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(178, 243, 248); 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 1s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #0a0707;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

h1 {
  font-style: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-size-adjust: auto;
  text-decoration-line: underline;
  font-size: 80px;
  animation: link-color-change 5s infinite;
  text-shadow: 1px 1px 1px 1px rgb(7, 5, 5);
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-decoration-line: underline;
  text-size-adjust: auto;
  font-size: 45px;
  animation: link-color-change 5s infinite;
  text-shadow: 1px 1px darkblue;
}

p {
  font-size: 30px;
  text-size-adjust: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-size-adjust: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

hr.solid {
  border-style: dashed;
  border-width: 1px;
  border-color: grey;
}

hr.dashed {
  border-top: 1px dashed;
  border-style: dashed;
  border-color: gray;
}

@keyframes color-change {
  0% {
    color: black;
  }
  15% {
    color: darkred;
  }
  25% {
    color: darkred;
  }
  40% {
    color: rgb(170, 9, 9);
  }
  50% {
    color: darkred;
  }
  75% {
    color: darkred;
  }
  100% {
    color: black;
  }
}

@keyframes link-color-change {
  0% {
    color: black;
  }
  15% {
    color: black;
  }
  25% {
    color: rgb(90, 4, 90);
  }
  40% {
    color: rgb(90, 4, 90);;
  }
  50% {
    color: rgb(90, 4, 90);;
  }
  75% {
    color: rgb(90, 4, 90);;
  }
  100% {
    color: black;
  }
}

.img-box{
    width: 125px;
    border: 4px solid #333;
}
.img-box img{
    display: block;
}

/* This is for watch */

@media (max-device-width: 42mm) and (min-device-width: 38mm) {
    text-align center
}
/* This is for phones */

@media only screen and (min-device-width: 420px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 3) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* This is for tablets */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* This is for laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
